<div class="row">

    <div class="col-md-8 col-md-offset-2">

        <div class="panel panel-default">
            <div class="panel-heading">Listagem de notes</div>

            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tile</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="o in notes">
                        <td>{{o.title}}</td>
                        <td>{{o.note}}</td>

                        <td>
                            <a ng-href="#/project/{{project_id}}/notes/{{o.id}}/edit">Editar
                            <a ng-href="#/project/{{project_id}}/notes/{{o.id}}/remove">Excluir
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div><!-- panel body -->
    </div><!-- panel -->
</div><!-- col-md-8 -->
