<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <div class="panel panel-default">
            <div class="panel-heading">Exclusão de note</div>

            <div class="panel-body">
                <p>Deseja excluir este note?</p>
                <ul>
                    <li><strong>Name: </strong> {{ note.title }}</li>
                    <li><strong>Email: </strong> {{ note.note }}</li>
                </ul>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            <button type="button" class="btn btn-danger" ng-click="remove()">Excluir</button>

                        </div>
                    </div>

            </div>


        </div><!-- panel body -->

    </div><!-- panel -->

</div><!-- col-md-8 -->
