<div class="row">

    <div class="col-md-8 col-md-offset-2">

        <div class="panel panel-default">
            <div class="panel-heading">Listagem de projetos</div>

            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Client</th>
                            <th>Descripção</th>
                            <th>Progresso</th>
                            <th>Status</th>
                            <th>Data Limite</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="o in projects">
                        <td>{{o.name}}</td>
                        <td>{{o.client.data.name}}</td>
                        <td>{{o.description}}</td>
                        <td>{{o.progress}}</td>
                        <td>{{o.status}}</td>
                        <td>{{o.due_date | dateBr }}</td>
                        <td>
                            <a ng-href="#/projects/{{o.project_id}}/edit">Editar
                            <a ng-href="#/projects/{{o.project_id}}/remove">Excluir
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div><!-- panel body -->

    </div><!-- panel -->

</div><!-- col-md-8 -->

</div><!-- row -->